.container{
    width: 65%;
    background-color: #282424;
    padding: 12px;
}



@media screen and (max-width: 600px) {
    .container { 
        width: 100%;
    }
}
@media screen and (max-width: 1100px) {
    .card-little{
        width: 40% !important;
    }
}
.navbar{
    position: relative;
}
body{
    color: white;
    background-image: url(pictures/background.png);
}

:root{
    --bs-primary-rgb: 52,92,124;
    --bs-secondary-rgb: 125,125,125;
    --bs-success-rgb: 50,205,50;
    --bs-info-rgb: 00,114,200;
    --bs-warning-rgb: 243,155,20;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 197, 207, 217;
    --bs-dark-rgb: 67,67,68;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
}

p{
    font-size: 16px;
    text-align: justify;
    margin-right: 5px;
}

.card-text{
    color: black;
}

.clear{
    clear: both;
}

.nav-hover-star, .nav-hover-planet, .nav-hover-moon{
    transition: color 0.5s ease, font-size 1s ease, margin 1.5s ease;
}

.nav-hover-star:hover{
    color: rgb( 243,155,20) !important;
    font-size: 24px;
    margin-right: 8px;
    margin-left: 8px;
}
.nav-hover-planet:hover{
    color: rgb( 00,114,200) !important;
    font-size: 24px;
    margin-right: 8px;
    margin-left: 8px;
}
.nav-hover-moon:hover{
    font-size: 24px;
    color: rgb(50,205,50) !important;
    margin-right: 8px;
    margin-left: 8px;
}

.nav-hover-main{
  color: red;
}

.navbar-dark .navbar-brand {
    color: red;
}

.nav-hover-main:hover{
    animation: color-change 5s infinite;
}

@keyframes color-change{
    0% {color: red;}
    25% {color: rgb( 243,155,20);}
    50% {color: rgb( 00,114,200);}
    75% {color: rgb(50,205,50);}
    100% {color: red;}
}

table ul li{
    list-style-type: "\2605  ";
}
